body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.redes-sociais ul li {
    margin-left: 16px;
    display: inline-block;
    float: left;
    list-style: none;
}

.header-2 {
    background-color: #fff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu {
    width: 60%;
    float: left;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.busca {
    width: 40%;
    float: right;
    text-align: center;
    }

.busca input {
    width: 190px;
    height: 10px;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #d6d6d6;
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 96%;
    text-decoration: #9a9a9a;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/arrow-left.png');
    z-index: 9;
    position: absolute;
    top: 35%;
    left: 14%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/arrow-right.png');
    z-index: 9;
    position: absolute;
    top: 35%;
    right: 14%;
}

.slider-principal {
    width: 100%;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px;
}
.slick-dots li {
    display: inline-block;
    padding-left: 12px;
}
.slick-dots li button {
    background: transparent;
    font-size: 0px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

li.slick-active button {
    background: #00bac6;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque h1 {
    font-size: 30px;
    color: #818181;
    text-transform: uppercase;
}

.texto-destaque strong {
    color: #646464;
}

.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
}

.col-3 {
    text-align: center;
    width: 29%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    font-weight: normal!important;
}

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}

.col-4 img {
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.col-4 img:hover {
    margin-top: 10px;
    position: relative;
}

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}

.footer {
    color: #fff;
    background-image: url('../img/footer-back.png');
}

.footer p {
    width: 90%;
    text-align: left;
}

.footer h3 {
    text-align: left;
}

.clock {
    color: #898989;
}

.clock::before {
    float: left;
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/clock.png');
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local::before, .emailico::before, .telefoneico::before {
    float: left;
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;    
}

.local::before {
    background-image: url('../img/localizacao.png');
}

.emailico::before {
    background-image: url('../img/e-mail.png');
}

.telefoneico::before {
    background-image: url('../img/telefone.png');
}

.footer-2 {
    background-image: url('../img/footer-back-2.png');
    color: #c1c1c1;
    height: 90px;
}

.footer-2 p {
    width: 60%;
}

.redes-sociais-footer-2 {
    width: 25%;
    float: right;
}

.redes-sociais-footer-2 ul li {
    margin-left: 16px;
    display: inline-block;
    float: left;
}